@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi/Satoshi-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-satoshi-light {
  font-family: "Satoshi-Light", sans-serif;
}
.font-satoshi {
  font-family: "Satoshi", sans-serif;
}
.font-satoshi-medium {
  font-family: "Satoshi-Medium", sans-serif;
}
.font-satoshi-semibold {
  font-family: "Satoshi-Bold", sans-serif;
}
.font-satoshi-bold {
  font-family: "Satoshi-Black", sans-serif;
}
body {
  @apply mx-auto w-11/12 md:w-10/12 font-satoshi;
}

.blog h3{
  @apply font-satoshi-semibold text-2xl py-3
}
.blog ol{
  @apply list-decimal space-y-6
}